@use '@/styles/colors';
@use '@/styles/variables';
@use '@/styles/mixins';

.favorites {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background-color: colors.$overlay;
    z-index: 999999;
    .favorites__container {
        @include mixins.flexbox($justify : space-between);
        flex-direction: column;
        gap: 16px;
        width: calc(100% - 2em);
        height: fit-content;
        max-height: calc(100vh - 6em);
        overflow-y: auto;
        background-color: colors.$primary-bg;
        padding: 1em;
        border-radius: 12px;
        .button {
            align-self: flex-start;
        }
    }
}

body.dark {
    .favorites {
        .favorites__container {
            background-color: colors.$primary-bg-dark;
        }
    }
}

@media screen and (min-width: 786px) {
    .favorites {
        .favorites__container {
            max-width: 500px;    
        }
    }
}