@use '@/styles/colors';
@use '@/styles/variables';
@use '@/styles/mixins';

.login-sidepanel {
    display: none;
}

@media screen and (min-width: 786px) {
    .login-sidepanel {
        background-color: colors.$primary-accent;
        border-bottom-left-radius: variables.$radius-m;
        border-top-left-radius: variables.$radius-m;
        @include mixins.flexbox($justify : space-between);
        flex-direction: column;
        gap: 3em;
        padding: clamp(3em, 5vw, 5em);
        flex: 1;
        h2 {
            font-size: clamp(1rem, 1.8vw, 1.8rem);
            color: colors.$primary-font-dark;
        }
        .thoughtbubble {
            padding: 1em;
            border-radius: 28px;
            background-color: colors.$primary-font-dark;
            position: relative;
            max-width: 200px;
            p {
                color: colors.$primary-font;
                
            }
            &:before {
                position: absolute;
                content: '';
                width: 20px;
                height: 20px;
                border-radius: variables.$radius-round;
                background-color: colors.$primary-font-dark;
            }
            &:after {
                position: absolute;
                content: '';
                width: 15px;
                height: 15px;
                border-radius: variables.$radius-round;
                background-color: colors.$primary-font-dark;
            }
        }
        .thoughtbubble--left {
            align-self: flex-start;
            &:before {
                bottom: -2rem;
                left: -0.5rem;
            }
            &:after {
                bottom: -4rem;
                left: -1.5rem;
            }
            
        }
        .thoughtbubble--right {
            align-self: flex-end;
            &:before {
                bottom: -2rem;
                right: -0.5rem;
            }
            &:after {
                bottom: -4rem;
                right: -1.5rem;
            }
        }
        .tagline {
            text-align: center;
            margin-top: auto;
            h1 {
                font-size: clamp(1rem, 1.8vw, 1.5rem);
                color: colors.$primary-font-dark;
                white-space: nowrap;
            }
            p {
                margin-top: 1em;
                font-size: clamp(0.8rem, 1.2vw, 1.2rem);
                color : colors.$hover-light;
            }
        }
    }
}