@use '@/styles/colors';
@use '@/styles/variables';
@use '@/styles/mixins';

.item {
    margin: 0 10px;
    border-radius: 4px;
    padding: 8px;
    background-color: colors.$secondary-bg;      
    @include mixins.flexbox($justify : space-between);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25); 
    position: relative;
    p {
        user-select: none;
    }
    .item__info--numbered {
        display: flex;
        align-items: center;
        gap: 2em;
        flex-grow: 1;
        .item__placement {
            font-size: 2em;
            font-weight: 700;
        }
    }
    .item__info--left {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding-right: 8px;
        .item__name {
            font-size: 15px;
            word-break: break-all;
        }
        .item__comment--container {
            display: flex;
            align-items: center;
            gap: 8px;
            .item__comment {
                font-size: 12px;
                word-break: break-all;
            }
            .assigned-container {
                width: 20px;
                height: 20px;
                border-radius: variables.$radius-round;
                background-color: colors.$hover-light;
                display: grid;
                place-content: center;
            }
        }
    }
    .item__info--right {
        display: flex;
        align-items: center;
        gap: 12px;
        select {
            border-radius: variables.$radius-s;
            align-self: center;
        }
        .checkbox-container {
            position: relative;
            z-index: 10;
            max-height: 25px;
            input, .checkbox-container--remove  {
                cursor: pointer;
                width: 25px;
                height: 25px;
                border-radius: variables.$radius-round;
                background-color: colors.$gray-font;
                appearance: none;
                padding: 0;
                margin: 0;
                
            }
            label {
                display: none;
                position: absolute;
                pointer-events: none;
                svg {
                    font-size: 15px;
                    color: colors.$secondary-bg;
                    pointer-events: none;
                }
            }
            input:checked ~ label {
                display: block;
            }
        }
        .checkbox-container--remove {
            position: relative;
            cursor: pointer;
            width: 25px;
            height: 25px;
            border-radius: variables.$radius-round;
            background-color: colors.$gray-font;
            padding: 0;
            margin: 0;
            background-color: colors.$primary-accent;

            svg {
                font-size: 12px;
                top: 6px;
                left: 7px;
                position: absolute;
                color: colors.$secondary-bg;
            }
        }
        .checkbox-container--check {
            input {
                &:checked {
                    background-color: colors.$success;
                }
            } 
            label {
                top: 2.5px;
                left: 5px;
            }
        }
    }
    .assigned-users {
        display: flex;
        align-items: center;
        gap: 4px;
        img {
            width: 20px;
            height: 20px;
            border-radius: variables.$radius-round;
        }
        span {
            font-size: 12px;
        }
    }
}

body.dark {
    .item {
        background-color: colors.$secondary-bg-dark;     
        .item__info--left {
            .item__comment--container {
                .assigned-container {
                    background-color: colors.$gray-font;
                }
            }
        }
        .item__info--right {

            select {
                background-color: colors.$secondary-bg-dark;
            }
        } 
    }
}

@media screen and (max-width: 350px) {
    .item {
        .item__info--left {
            .item__name {
                font-size: 14px;
            }
        }
    }
}

@media screen and (min-width: 786px) {
    .item {
        .item__info--left {
            .item__name {
                font-size: 16px;
            }
        }
    }
}