@use '@/styles/colors';
@use '@/styles/mixins';
@use '@/styles/variables';

.list {
    margin-top: 5em;
    .user-container {
        margin-left: 1em;
        display: flex;
        .user-image {
            width: 20px;
            height: 20px;
            border-radius: variables.$radius-round;
            transform: translateX(-6px);
            &:first-child {
                transform: translateX(0);
            }
        }
    }
    .list__header {
        @include mixins.flexbox();
        flex-direction: column;
        .list__header--title {
            @include mixins.flexbox();
            gap: 10px;
            .icon {
                width: 30px;
                height: 30px;
                border-radius: variables.$radius-round;
                @include mixins.grid-center();
            }
            .check {
                background-color: colors.$success;
            }
            .cancel {
                background-color: colors.$danger;
            }
        }
    }
    .item-container {
        width: 100%;
        section {            
            display: flex;
            flex-direction: column;
            gap: 12px;
            .item {
                margin: 0 10px;
                border-radius: 4px;
                padding: 8px;
                background-color: colors.$secondary-bg;      
                @include mixins.flexbox($justify : space-between);
                height: 60px;
                .item__info--left {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    .item__comment {
                        font-size: 12px;
                    }
                }
                .item__info--right {
                    display: flex;
                    gap: 10px;
                    .checkbox-container {
                        position: relative;
                        input {
                            cursor: pointer;
                            width: 25px;
                            height: 25px;
                            border-radius: variables.$radius-round;
                            background-color: colors.$gray-font;
                            appearance: none;
                            padding: 0;
                            margin: 0;
                            
                        }
                        label {
                            display: none;
                            position: absolute;
                            pointer-events: none;
                            svg {
                                font-size: 15px;
                                color: colors.$secondary-bg;
                            }
                        }
                        input:checked ~ label {
                            display: block;
                        }
                    }
                    .checkbox-container--remove {
                        input {
                            &:checked {
                                background-color: colors.$danger;
                            }
                        }
                        label {
                            top: 2.5px;
                            left: 7px;
                        }
                    }
                    .checkbox-container--check {
                        input {
                            &:checked {
                                background-color: colors.$success;
                            }
                        } 
                        label {
                            top: 2.5px;
                            left: 5px;
                        }
                    }
                }
            }
        }
    }
    .delete__menu {
        position: fixed;
        left: 2em;
        bottom: 2em;
        width: 40px;
        transition: width 0.3s;
        background-color: colors.$primary-accent;
    }
    .delete__menu--closed {
        border-radius: variables.$radius-round;
        padding: 10px;
        cursor: pointer;
        @include mixins.grid-center();
        svg {
            color: colors.$secondary-bg;
        }
    }
    .delete__menu--open {
        width: 300px;
        padding: 8px 14px;
        border-radius: variables.$radius-l;

        .delete__menu--options {
            overflow: hidden;
            white-space: nowrap;
            display: flex;
            justify-content: space-between;
            color: colors.$primary-font-dark;
            gap: 4px;
            .delete__option {
                cursor: pointer;
            }
        }
    }
}
.loader {
    @include mixins.loader();
}
@media screen and (min-width: 786px) {
    .list {
        .delete__menu {
            left: calc(50vw - clamp(100px, 45vw, 550px))
        }
    }
}