@use '@/styles/colors';
@use '@/styles/mixins';
@use '@/styles/variables';

.list {
    margin: 5em 0;
    padding-bottom: 6em;
    .user-container {
        margin-left: 1em;
        display: flex;
        width: fit-content;
        cursor: pointer;
        .user-image {
            width: 25px;
            height: 25px;
            border-radius: variables.$radius-round;
            transform: translateX(-6px);
            &:first-child {
                transform: translateX(0);
            }
        }
    }
    .list__header {
        @include mixins.flexbox();
        margin-top: 1em;
        flex-direction: column;
        .list__header--title {
            @include mixins.flexbox();
            gap: 10px;
            .icon {
                width: 30px;
                height: 30px;
                border-radius: variables.$radius-round;
                @include mixins.grid-center();
                cursor: pointer;
            }
            .check {
                background-color: colors.$success;
            }
            .cancel {
                background-color: colors.$danger;
            }
        }
    }
    .item-container {
        width: 100%;
        cursor: grab;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .delete__menu, .assign__menu {
        position: fixed;
        bottom: 2em;
        width: 40px;
        transition: width 0.3s;
        background-color: colors.$primary-accent;
        z-index: 999999;
    }
    .delete__menu {
        left: 2em;
    }
    .delete__menu--closed, .assign__menu--closed {
        border-radius: variables.$radius-round;

        cursor: pointer;
        @include mixins.grid-center();
        svg {
            padding: 10px;
            color: colors.$secondary-bg;
        }
    }
    .delete__menu--open, .assign__menu--open {
        width: calc(100% - 4em);
        padding: 8px 14px;
        font-size: 14px;
        border-radius: variables.$radius-l;

        .delete__menu--options, .assign__menu--options {
            overflow: hidden;
            white-space: nowrap;
            display: flex;
            justify-content: space-evenly;
            gap: 4px;
            .delete__option, .assign__option {
                flex: 1;
                text-align: center;
                cursor: pointer;
            }
            p {
                color: colors.$primary-font-dark;
            }
        }
    }
    .assign__menu {
        right: 2em;
    }
    .checkbox-container {
        position: fixed;
        right: 2em;
        bottom: 2em;
        @include mixins.flexbox();
        gap: 8px;
        z-index: 10;
        p {
            font-size: 12px;
        }
        input {
            cursor: pointer;
            width: 25px;
            height: 25px;
            border-radius: variables.$radius-round;
            background-color: colors.$gray-font;
            appearance: none;
            padding: 0;
            margin: 0;
            &:checked {
                background-color: colors.$success;
            }
            
        }
        label {
            display: none;
            position: absolute;
            pointer-events: none;
            bottom: 3px;
            right: 3px;
            svg {
                font-size: 18px;
                color: colors.$secondary-bg;
                pointer-events: none;
            }
        }
        input:checked ~ label {
            display: block;
        }

        .checkbox-container--check {
            display: flex;
        }
    }
}
.loader {
    @include mixins.loader();
}

.error-text {
    text-align: center;
    margin-bottom: 2em;
}

body.dark {
    .list {
        .list__header {
            .list__header--title {
                .change-title {
                    cursor: pointer;
                    color: colors.$primary-font-dark;
                }
                input {
                    background-color: colors.$primary-font;
                }
            }
        }
        .checkbox-container {
            label {
                svg {
                    color: colors.$secondary-bg-dark;
                }
            }
        }
    }
}

@media screen and (max-height: 500px) {
    .list {
        &:focus-within {
            .delete__menu, .assign__menu {
                display: none;
            }
            .checkbox-container {
                display: none;
            }
        }
    }
}

@media screen and (min-width: 786px) {
    .list {
        .delete__menu {
            left: calc(50vw - clamp(100px, 45vw, 480px))
        }
        .delete__menu--open {
            width: 300px;
        }
        .assign__menu--open {
            width: 400px;
        }
        &:focus-within {
            .delete__menu {
                display: grid;
            }
        }
        .assign__menu {
            right: calc(50vw - clamp(100px, 45vw, 480px))
        }
    }
}