@use "@/styles/colors.scss";
@use "@/styles/variables.scss";

.button {
    all: unset;
    border-radius: variables.$radius-s; 
    width: fit-content;
    padding: 8px 16px;
    transition: variables.$transition-time;
    cursor: pointer;
    font-family: variables.$primary-font;
    font-size: 14px;
    text-align: center;
}

@each $name,
$bg in colors.$button-disabled-colors {
    .button { 
        &[role=disabled] {
            pointer-events: none;
            background-color: $bg;
            color: colors.$disabled-font;
        }
    }
}

@each $name,
$bg in colors.$button-bg-colors {
    .button--#{$name} {
        background-color: $bg;
        color: colors.$primary-font-dark;
        @if (str-index($name, "ghost")) {
            color: colors.$primary-font;
            outline: 1px solid colors.$primary-font;
            outline-offset: -1px;
        }
        &:hover {
            color: colors.$primary-font-dark;
            background-color: map-get(colors.$button-hover-colors, $name);
        }
    }
    .button--#{$name}__outline {
        outline: 1px solid $bg;
        outline-offset: -1px;
        background-color: transparent;
        &:hover {
            color: colors.$primary-font-dark;
            background-color: map-get(colors.$button-bg-colors, $name);
        }
    }
    body.dark {
        .button--#{$name}__outline {
            color: colors.$primary-font-dark;
        }
    }
}
