@use '@/styles/colors';
@use '@/styles/variables';
@use '@/styles/mixins';

.add-list__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background-color: colors.$overlay;
    z-index: 999999;
    .add-list {
        @include mixins.flexbox($justify : space-between);
        flex-direction: column;
        gap: 20px;
        width: calc(100% - 2em);
        height: fit-content;
        max-height: calc(100vh - 2em);
        min-height: 50%;
        background-color: colors.$primary-bg;
        padding: 2em;
        border-radius: 12px;
        .input-container, .select-container {
            @include mixins.inputContainer();
        }
        .select-container {
            margin-bottom: 40px;
        }
        .input-error {
            input, select {
                outline-color: colors.$danger;
            }
        }
        .error-text {
            position: absolute;
            bottom: -34px;
            left: 0;
            font-size: 12px;
            color: colors.$danger;
        }
        .button-container {
            display: flex;
            width: 100%;
            justify-content: space-between;
            gap: 4em;
            button {
                flex: 1;
            }
        }
    }
}

body.dark {
    .add-list__overlay {
        .add-list {
            background-color: colors.$primary-bg-dark;
            .input-container, .select-container {
                input, select {
                    outline: 1px solid colors.$gray-font;
                    color: colors.$primary-font-dark;
                    &:focus {
                        outline-color: colors.$primary;
                    }
                }
                input:focus ~ label, input:not(:placeholder-shown) ~label, select:focus ~ label, select:valid ~ label {
                    background-color: colors.$primary-bg-dark;
                }
            }
            select {
                option {
                    background-color: colors.$primary-bg-dark;
                }
            }

        }
    }
}

@media screen and (min-width: 786px) {
    .add-list {
        max-width: 500px;       
    }
}