@use '@/styles/colors';
@use "@/styles/variables.scss";
@use '@/styles/mixins.scss';

.add-item {
    width: 100%;
    .add-item__headline {
        display: flex;
        cursor: pointer;
        justify-content: space-between;
        margin: 1em 1em 0 1em;
        h2 {
            font-size: 18px;
        }
        svg {
            font-size: 18px;
            color: colors.$primary-font;
            transition: all 0.3s;
        }
        .add-item--active {
            transform: rotate(180deg);
        }
        border-bottom: 1px solid colors.$primary-font;
    }

    .add-item__form {
        max-height: 0;
        transition: all 0.3s;
        overflow: hidden;
        margin: 0 1em 1em 1em;
        display: flex;
        flex-direction: column;
        gap: 14px;
        outline: 1px solid colors.$primary-font;
        outline-offset: -1px;
        border-bottom-left-radius: variables.$radius-m;
        border-bottom-right-radius: variables.$radius-m;
        .input-container {
            @include mixins.inputContainer();
        }
    }
    .add-item__form--active {
        padding: 1em;
        max-height: 300px;
    }
    .add-item__buttons {
        display: flex;
        justify-content: space-between;
        gap: 2em;
        button {
            flex: 1;
        }
    }
}

body.dark {
    .add-item {
        .add-item__headline {
            svg {
                color: colors.$primary-font-dark;
            }
            border-color: colors.$primary-font-dark;
        }
        .add-item__form {
            outline: 1px solid colors.$gray-font;
            .input-container {
                input, select {
                    color: colors.$primary-font-dark;
                    color-scheme: dark;
                }
                input:focus ~ label, input:not(:placeholder-shown) ~ label {
                    background-color: colors.$primary-bg-dark;
                }
            }
        }
    }
}

@media screen and (min-width: 786px) {
    .add-item {
        margin: 0 auto;
        width: clamp(300px, 30vw, 400px);
    }
}