@use 'sass:color';

$primary-bg: #DBDFE8;
$secondary-bg: #F0F0F0;
$primary-accent: #51355A;

$primary-font: #141313;
$secondary-font: #B8B8B8;
$gray-font : #B8B8B8;

$primary-bg-dark: #595959;
$secondary-bg-dark: #243354;
$primary-accent-dark: #4D3256;

$primary-font-dark: #FFFFFFFA;

$success: #4DD1BB;
$danger: #DC3545;
$primary: #00B0D4;
$ghost : transparent;

// Button
$button-bg-colors: (
  primary: $primary,
  ghost: $ghost,
  danger: $danger,
  success: $success,
);

$button-outline-colors: (
    primary: $primary,
    ghost: $primary-font,
    danger: $danger,
    success: $success,
);

$button-hover-colors: (
    primary: darken($primary, 20%),
    ghost: darken($primary-font, 20%),
    danger: darken($danger, 20%),
    success: darken($success, 20%)
);