@use 'sass:color';

$primary-bg: #DBDFE8;
$secondary-bg: #F0F0F0;
$primary-accent: #51355A;

$primary-font: #141313;
$secondary-font: #B8B8B8;

$primary-bg-dark: #595959;
$secondary-bg-dark: #243354;
$primary-accent-dark: #4D3256;

$primary-font-dark: #FFFFFFFA;

$success: #55C284;
$danger: #DC3545;
$primary: #00B0D4;

// Button
$button-bg-colors: (
  primary: $primary,
  danger: $danger,
  success: $success,
);

$button-hover-colors: (
    primary: darken($primary, 20%),
    danger: darken($danger, 20%),
    success: darken($success, 20%)
);