@use '@/styles/colors';

@mixin loader() {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 80px;
    height: 80px;
    z-index: 1000;
    &:after {
      content: " ";
      position: absolute;
      top: -0.5em;
      left: -0.5em;
      bottom: -0.5em;
      right: -0.5em;
      width: 64px;
      height: 64px;
      margin: 8px;
      border-radius: 50%;
      border: 6px solid colors.$primary-accent;
      border-color: colors.$primary-accent transparent colors.$primary-accent transparent;
      animation: lds-dual-ring 1.2s linear infinite;
    }
    @keyframes lds-dual-ring {
      0% {
      transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }