@use '@/styles/colors';
@use '@/styles/variables';
@use '@/styles/mixins';


.share__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include mixins.grid-center();
    background-color: colors.$overlay;
    z-index: 99999;
    .share {
        @include mixins.flexbox($justify : space-between);
        flex-direction: column;
        gap: 20px;
        width: calc(100% - 2em);
        height: fit-content;
        min-height: 50%;
        background-color: colors.$primary-bg;
        padding: 1em;
        border-radius: variables.$radius-l;
        overflow: auto;
        .search {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 100%;
            height: 40px;
            input {
                all: unset;
                outline: 1px solid colors.$gray-font;
                outline-offset: -1px;
                border-radius: variables.$radius-s;
                padding: 10px 12px;
                font-size: 18px;
                &:focus {
                    outline-color: colors.$primary;
                }
            }
            label {
                pointer-events: none;
                position: absolute;
                top: calc(50% - 7px);
                left: 10px;
                font-size: 14px;
                transition: all 150ms;
            }
            
            input:focus ~ label, input:not(:placeholder-shown) ~label {
                font-size: 14px;
                padding: 4px 4px 0 4px;
                background-color: colors.$primary-bg;
                top: -12px;
                z-index: 1;
            }
            .search__clear {
                position: absolute;
                right: 10px;
                top: 12px;
                font-size: 16px;
                color: colors.$primary-font;
                cursor: pointer;
            }

        }
        .search__found {
            border: 1px solid colors.$gray-font;
            background-color: colors.$secondary-bg;
            width: 100%;
            border-radius: 8px;
            flex-direction: column;

            .search__user {
                padding: 1em;
                cursor: pointer;
                @include mixins.flexbox($justify : space-between);
                height: 60px;
                border-radius: 8px;
                img {
                    max-height: 30px;
                    border-radius: variables.$radius-round;
                }
                &:hover {
                    background-color: colors.$hover-light;
                }

                .email {
                    font-size: 12px;
                    color: colors.$gray-font;
                }
            }

        }
        .share__added {
            .share__added--headline {
                margin-bottom: 12px;
                font-size: 18px;
            }
        }
        .share__users {
            width: 100%;
            height: 50%;
            overflow: auto;
            display: flex; 
            flex-direction: column;
            gap: 10px;
            .share__current {
                width: 100%;
                @include mixins.flexbox($justify : space-between);
                .share__user {
                    display: flex;
                    gap: 8px;
                    .share__user--info {
                        .email {
                            font-size: 12px;
                            color: colors.$gray-font;
                        }
                    }
                }
                img {
                    height: 25px;
                    width: 25px;
                    border-radius: 50%;
                }
            }
        }
        .share__buttons {
            width: 100%;
            display: flex;
            justify-content: space-between;
            gap: 2em;
            button {
                flex: 1;
            }
        }
    }
}

body.dark {
    .share__container {
        .share {
            background-color: colors.$primary-bg-dark;
            .search {
                input {
                    color : colors.$primary-font-dark;
                }      
                input:focus ~ label, input:not(:placeholder-shown) ~label {
                    background-color: colors.$primary-bg-dark;
                }
                .search__clear {
                    color: colors.$primary-font-dark;
                }
            }
            .search__found {
                border: 1px solid colors.$gray-font;
                background-color: colors.$secondary-bg-dark;
                .search__user {
                    &:hover {
                        background-color: colors.$hover-dark;
                    }
                    .email {
                        color: colors.$hover-light;
                    }
                }
            }
            .share__users {
                .share__current {
                    .share__user {
                        .share__user--info {
                            .email {
                                color: colors.$hover-light;
                            }
                        }
                    }
                    .user-remove {
                        .button {
                            padding: 5px 6px;
                        }

                    }
                }
            }
        }
    }
    
}

@media screen and (max-width: 340px) {
    .share {
        .share__user {
            img {
                display: none;
            }
        }   
    }
}

@media screen and (min-width: 786px) {
    .share {
        max-width: 500px;       
    }
}