@use '@/styles/colors';
@use '@/styles/mixins';
@use '@/styles/variables';

.favorite {
    h2 {
        text-align: center;
    }
    margin: 5em 0;
    display: flex;
    flex-direction: column;
    gap: 2em;
    .favorite__add {
        display: flex;
        padding: 0 10px;
        width: 100%;
        .input-container {
            @include mixins.inputContainer();
            input {
                border-radius: 0;
                border-top-left-radius: variables.$radius-s;
                border-bottom-left-radius: variables.$radius-s;
                outline-offset: -1px;
            }
        }
        .button {
            border-radius: 0;
            border-top-right-radius: variables.$radius-s;
            border-bottom-right-radius: variables.$radius-s;
        }
        .input-error {
            input, select {
                outline-color: colors.$danger;
            }
        }
        .input-error__text {
            position: absolute;
            bottom: -18px;
            left: 0;
            font-size: 12px;
            color: colors.$danger;
        }
    }
    .favorite__container {
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding-bottom: 5em;
    }
}

.loader {
    @include mixins.loader();
}

body.dark {
    .favorite {
        .favorite__add {
            .input-container {
                input, select {
                    color: colors.$primary-font-dark;
                    color-scheme: dark;
                }
                input:focus ~ label, input:not(:placeholder-shown) ~ label {
                    background-color: colors.$primary-bg-dark;
                }
            }
        }
    }
}

@media screen and (min-width: 786px) {
    .favorite {
        .favorite__add {
            align-self: center;
            max-width: 50%;
        }
    }
}