@use '@/styles/colors';
@use '@/styles/mixins';
@use '@/styles/variables';

.error {
    max-width: 1000px;
    margin: 100px auto;
    @include mixins.flexbox($justify : space-between);
    flex-direction: column;
    gap: 40px;
    padding: 40px;
    border-radius: variables.$radius-l;
    background-color: colors.$secondary-bg;
    border: 2px solid colors.$primary-accent;
    outline: 2px solid colors.$primary-accent;
    outline-offset: -10px;
}

body.dark {
    .error {
        background-color: colors.$secondary-bg-dark;
    } 
}