@use '@/styles/colors';
@use '@/styles/variables';
@use '@/styles/mixins';

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    @include mixins.flexbox($justify : space-between);
    background-color: colors.$primary-accent;
    width: 100%;
    padding: 1em 2em;
    height: 60px;
    svg {
        width: 18px; 
        height: 18px;
    }
    img {
        max-height: 25px;
        cursor: pointer;
    }
    svg {
        color: colors.$primary-font-dark;
        font-size: 22px;
        width: 22px; 
        height: 22px;
        cursor: pointer;
        transition: all 0.2s;
        &:hover {
            color: colors.$primary;
        }
    }
    .navbar--right {
        display: flex;
        align-items: center;
        gap: 1em;
        .dark-mode {
            width: 18px;
            height: 18px;
        }
        .button {
            padding: 4px 8px;
        }
        .navbar__user {
            position: relative;
            display: flex;
            align-items: center;
            .navbar__user--image {
                border-radius: variables.$radius-round;
                height: 25px;
                width: 25px;
            }
        }
        .navbar__user--menu {
            position: absolute;
            // bottom: calc((-18px * 5) + (-1px * 3) + (-4px * 8) + (-4px * 6) - 4px);
            bottom: calc(
                ((-16px - (8px * 2)) * 4) + 
                ((-1px - (4px * 2)) * 3 ) + 
                -2px
                );
            right: -28px;
            width: max-content;
            border-radius: variables.$radius-m;
            display: flex;
            flex-direction: column;
            gap: 4px;
            background-color: colors.$primary-bg;
            box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.4);
            border: 1px solid colors.$primary-font;
            z-index: 9999;
            p {
                text-align: center;
                cursor: pointer;
                font-size: 14px;
                padding: 8px 14px;
                color: colors.$primary-font;                
                &:hover {
                    background-color: colors.$hover-light;
                }
            }
            p:first-of-type {
                border-top-right-radius: calc(variables.$radius-m - 2px);
                border-top-left-radius: calc(variables.$radius-m - 2px);
            }
            p:last-of-type {
                border-bottom-right-radius: calc(variables.$radius-m - 2px);
                border-bottom-left-radius: calc(variables.$radius-m - 2px);
            }
            .divider {
                width: 40px;
                margin: 0 auto;
                background-color: colors.$primary-font;
                height: 1px;
            }
        }
    }

    .dark-mode {
        right : 1.5em;
        top: 80px;
    }
}

body.dark {
    .navbar {
        .navbar--right {
            .navbar__user--menu {
                background-color: colors.$secondary-bg-dark;
                border: 1px solid colors.$primary-font-dark;
                p {
                    color: colors.$primary-font-dark;                
                    &:hover {
                        background-color: colors.$hover-dark;
                    }
                }
                .divider {
                    width: 40px;
                    margin: 0 auto;
                    background-color: colors.$primary-font-dark;
                    height: 1px;
                }
            }
        }
    }
}

@media screen and (min-width: 786px) {
    .navbar {
        padding: 1em 4em;
    }
}