@use '@/styles/colors';
@use '@/styles/variables';
@use '@/styles/mixins';

.invited-list {
    margin: 0 20px;
    border-radius: variables.$radius-s;
    padding: 8px;
    background-color: colors.$secondary-bg;     
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25); 
    cursor: pointer;
    @include mixins.flexbox($justify : space-between);
    .invited__info {
        display: flex;
        flex-direction: column;
        p {
            font-size: 12px;
        }
        .invited__top, .invited__bottom {
            display: flex;
            flex-direction: column;
        }
    }

    .btn-container {
        display: flex;
        gap: 16px;
        .icon {
            width: 29px;
            height: 29px;
            border-radius: variables.$radius-round;
            @include mixins.grid-center();
            cursor: pointer;
        }
        .check {
            background-color: colors.$success;
        }
        .cancel {
            background-color: colors.$danger;
        }
    }
}

body.dark {
    .invited-list {
        background-color: colors.$secondary-bg-dark;     
    }
}

@media screen and (min-width: 786px) {
    .invited-list {
        margin: 0;
    }
}