@use '@/styles/colors';
@use '@/styles/variables';
@use '@/styles/mixins';


    .list--info {
        h2 {
            font-size: 16px;
        }
        p {
            font-size: 12px;
        }
    }
    .list--remove {
        background-color: colors.$primary-accent;
        transition: all variables.$transition-time;
        z-index: 10;
        border-radius: variables.$radius-round; 
        @include mixins.grid-center();
        height: 25px;
        width: 25px;
        
        svg {
            color: colors.$secondary-bg;
        }
        &:hover {
            background-color: colors.$danger;
        }
        svg {
            font-size: 12px;
        }
    }
    .button {
        padding: 4px 6px;
    }


body.dark {
    .list--remove {
        background-color: colors.$primary-accent;
        svg {
            color: colors.$secondary-bg;
        }
        &:hover {
            background-color: colors.$danger;
        }
    }    
}
