@use '@/styles/colors';
@use '@/styles/variables';
@use '@/styles/mixins';

.home {
    margin: 5em 0;
    .home__header {
        text-align: center;
        h3 {
            @include mixins.flexbox();
            gap: 8px;
            img {
                max-width: 20px;
                border-radius: variables.$radius-round;
            }
        }
        .invited__info {
            font-size: 12px;
            font-style: italic;
        }
    }
    .lists--container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding-bottom: 5em;
        .list--container {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 12px;

            .list {
                margin: 0 20px;
                border-radius: variables.$radius-s;
                padding: 8px;
                background-color: colors.$secondary-bg;     
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25); 
                cursor: pointer;
                @include mixins.flexbox($justify : space-between);
            }
        }
    }
    h4 {
        text-align: center;
        margin-top: 2em;
    }
    .empty {
        user-select: none;
        opacity: 40%;
        margin: 0 1em;
        font-style: italic;
        text-align: center;
        @include mixins.grid-center();
        .create-list {
            cursor: pointer;
            color: red;
            opacity: 100%;
        }
    }
    .create-icon {
        cursor: pointer;
        color: colors.$primary-font-dark;
        background-color: colors.$primary-accent;
        padding: 12px;
        border-radius: variables.$radius-round;
        box-shadow: 1px 1px 4px colors.$primary-font;
        font-size: 20px;
        position: fixed;
        bottom: 1em;
        right: 1em;
        z-index: 9999;
    }
}

body.dark {
    .home {
        .lists--container {
            .list--container {      
                .list {
                    background-color: colors.$secondary-bg-dark;
                }
            }
        }
    }
}

.loader {
    @include mixins.loader();
}

@media screen and (min-width: 786px) {
    .home {
        .lists--container {
            .list--container {    
                padding: 0 1em;            
                .list {
                    margin: 0;
                }
            }
        }
        .create-icon {
            right: calc(50vw - clamp(100px, 45vw, 560px));
        }
    }
}