@use '@/styles/colors';
@use '@/styles/variables';
@use '@/styles/mixins';

.home {
    margin-top: 5em;
    .home__header {
        text-align: center;
    }
    .lists--container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        .list--container {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 12px;

            .list {
                margin: 0 20px;
                border-radius: variables.$radius-s;
                padding: 8px;
                background-color: colors.$secondary-bg;      
                cursor: pointer;
                @include mixins.flexbox($justify : space-between);
                .list--info {
                    h2 {
                        font-size: 16px;
                    }
                    p {
                        font-size: 12px;
                    }
                }
                .list--remove {
                    background-color: colors.$primary-accent;
                    transition: all variables.$transition-time;
                    svg, p {
                        color: colors.$secondary-bg;
                    }
                    &:has(svg) {
                        border-radius: variables.$radius-round; 
                    }
                    &:has(p) {
                        border-radius: variables.$radius-l;
                    }
                    &:hover {
                        background-color: colors.$danger;
                    }
                    svg {
                        padding: 6px 7px;
                        font-size: 12px;
                    }
                    p {
                        padding: 8px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

.loader {
    @include mixins.loader();
}

@media screen and (min-width: 786px) {
    .home {
        .lists--container {
            .list--container {                
                .list {
                    margin: 0;
                }
            }
        }
    }
}