.home {
    margin-top: 4em;
    .list--container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .list {
        width: 100%;
        background-color: white;        
    }
}