@use '@/styles/colors';
@use '@/styles/variables';
@use '@/styles/mixins';

.home {
    margin: 5em 0;
    .home__header {
        text-align: center;
        h3 {
            @include mixins.flexbox();
            gap: 8px;
            img {
                max-width: 20px;
                border-radius: 50%;
            }
        }
    }
    .lists--container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        .list--container {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 12px;

            .list {
                margin: 0 20px;
                border-radius: variables.$radius-s;
                padding: 8px;
                background-color: colors.$secondary-bg;      
                cursor: pointer;
                @include mixins.flexbox($justify : space-between);
                .list--info {
                    h2 {
                        font-size: 16px;
                    }
                    p {
                        font-size: 12px;
                    }
                }
                .list--remove {
                    background-color: colors.$primary-accent;
                    transition: all variables.$transition-time;
                    z-index: 10;
                    svg, p {
                        color: colors.$secondary-bg;
                    }
                    &:has(svg) {
                        border-radius: variables.$radius-round; 
                    }
                    &:has(p) {
                        border-radius: variables.$radius-l;
                    }
                    &:hover {
                        background-color: colors.$danger;
                    }
                    svg {
                        padding: 6px 7px;
                        font-size: 12px;
                    }
                    p {
                        padding: 8px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

body.dark {
    .home {
        .lists--container {
            .list--container {      
                .list {
                    background-color: colors.$secondary-bg-dark;
                    .list--remove {
                        background-color: colors.$primary-accent;
                        svg, p {
                            color: colors.$secondary-bg;
                        }
                        &:has(svg) {
                            border-radius: variables.$radius-round; 
                        }
                        &:has(p) {
                            border-radius: variables.$radius-l;
                        }
                        &:hover {
                            background-color: colors.$danger;
                        }
                        svg {
                            padding: 6px 7px;
                            font-size: 12px;
                        }
                        p {
                            padding: 8px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

.loader {
    @include mixins.loader();
}

@media screen and (min-width: 786px) {
    .home {
        .lists--container {
            .list--container {    
                padding: 0 1em;            
                .list {
                    margin: 0;
                }
            }
        }
    }
}