@use '@/styles/colors';
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: colors.$primary-bg;
    #app {
        max-width: 1200px;
        margin: 0 auto;
    }
    h1, h2, h3, h4, h5, h6, p, span, a, button, input, select, option, label, .button {
        font-family: 'Inter', sans-serif;
    }
}