@use '@/styles/colors';

.login__container {
    background-color: colors.$secondary-bg;
    height: calc(100vh - 2em);
    margin: 1em;
    border-radius: 8px;
    .login {
        height: 100%;
        padding: 3em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .logo-container {
            display: flex;
            flex-direction: column;
            gap: 20px;
            h2 {
                font-size: 48px;
                font-family: 'Handlee', cursive;
            }
        }
    }
}

@media screen and (min-width: 786px) {
    .login__container {
        border-radius: none;
        display: flex;
        margin-top: 10vh;
        height: 80vh;
        .login {
            padding: 5em;
            border-bottom-right-radius: 8px;
            border-top-right-radius: 8px;
            flex: 1;
        }
    }
}