@use '@/styles/colors';
@use '@/styles/variables';
@use '@/styles/mixins';

.login__container {
    background-color: colors.$secondary-bg;
    height: calc(100vh - 2em);
    margin: 1em;
    border-radius: variables.$radius-m;
    position: relative;
    .login {
        height: 100%;
        padding: 3em;
        @include mixins.flexbox($justify : space-between);
        flex-direction: column;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        .logo-container {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            h2 {
                font-size: 48px;
                font-family: 'Handlee', cursive;
            }
            img {
                fill: blue;
            }
        }
        .btn-container {
            @include mixins.flexbox();
            flex-direction: column;
            gap: 20px;
            .btn {
                all: unset;
                width: 100%;
                padding: 12px;
                transition: all 0.5s;
                border-radius: variables.$radius-s;
                display: flex;
                align-items: center;
                gap: 12px;
                background-color: #fff;
                font-family: variables.$primary-font;
                cursor: pointer;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
            }

            .btn--google {
                background: linear-gradient(to left, #fff 50%, #3F7EE8 50%) right;
                color: #000;
                background-size: 201%;
                svg {
                    color: #000;
                }
                &:hover {
                    background-position: left;
                    color: #fff;
                    svg {
                        color: #fff;
                    }
                }
            }

            .btn--apple {
                color: #000;
                background: linear-gradient(to left, #fff 50%, #000 50%) right;
                background-size: 201%;
                svg {
                    color: #000;
                }
                &:hover {
                    background-position: left;
                    color: #fff;
                    svg {
                        color: #fff;
                    }
                }
            }
            .btn--github {
                color: #fff;
                background: linear-gradient(to left, #000 50%, #fff 50%) right;
                background-size: 201%;
                svg {
                    color: #fff;
                }
                &:hover {
                    color: #000;
                    background-position: left;
                    svg {
                        color: #000;
                    }
                }
            }
        }
    }
}

body.dark {
    .login__container {
        background-color: colors.$primary-accent;
    }
}

.dark-mode {
    right: 1em;
    top: 1em;
}

@media screen and (min-width: 786px) {
    .login__container {
        border-radius: none;
        display: flex;
        margin-top: 10vh;
        height: 80vh;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        .login {
            padding: 5em;
            border-bottom-right-radius: variables.$radius-m;
            border-top-right-radius: variables.$radius-m;
            flex: 1;
            box-shadow: none;
        }
    }
    body.dark {
        .login__container {
            background-color: colors.$secondary-bg-dark;
        }
    }
}